doctype html
head
  title Realtime communication with WebRTC
  link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css', integrity='sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm', crossorigin='anonymous')

  link(rel='stylesheet', href='stylesheets/style.css')
body
    h1 Realtime communication with WebRTC
    video#localVideo(autoplay='', playsinline='')
    video#remoteVideo(autoplay='', playsinline='')
    div.container
        .btn-group(role='group', aria-label='Basic example')
          button#start.btn.btn-secondary(type='button') Start
          button#call.btn.btn-secondary(type='button' ) Call
          button#hangup.btn.btn-secondary(type='button' ) Hang Up





script(src='https://webrtc.github.io/adapter/adapter-latest.js')
script(src='javascripts/script.js')
